.book-thumbnail-image {
  cursor: pointer;
  position: relative;
  margin: 12px;
  box-shadow: 10px 10px 5px grey;
}

.book-thumbnail-image-hover {
  opacity: 0.5;
}

.book-item {
  position: relative;
}

.action-icon {
  position: absolute;
  left: 45%;
  bottom: 25%;
  cursor: pointer;
}

.action-icon-on {
  opacity: 1;
}

.action-icon-off {
  opacity: 0;
}

.action-icon-exchange {
  color: yellow;
}

.action-icon-ownership {
  color: green;
}

.action-icon-delete {
  color: red;
}

.action-icon-pending {
  color: #EF8D0D;
}