.book-thumbnail-image {
  cursor: pointer;
  position: relative;
}

.book-thumbnail-image-hover {
  opacity: 0.5;
}

.book-item {
  position: relative;
}

.action-icon {
  position: absolute;
  left: 50%;
  bottom: 50%;
  cursor: pointer;
}

.action-icon-on {
  opacity: 1;
}

.action-icon-off {
  opacity: 0;
}
