.trade-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.trade-thumbnail {
  margin: 12px;
  box-shadow: 10px 10px 5px grey;
}

.trade-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trade-icon {
  display: block;
  margin: 12px;
}

.trade-button {
  margin: 7px;
  display: block;
}